
body {
  background-image: url("https://cdn.spacetelescope.org/archives/images/wallpaper4/heic0611b.jpg");
  background-color: #cccccc;
 }

.App {
  text-align: center;
}
h1{
  background-color: white;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
img {
  border-radius: 8px;
}
.block {
  display: block;
  width: 100%;
  border: none;
  background-color: #4CAF50;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

.column:hover{
  cursor: pointer
}

.form-box {
  border: white solid 30px !important;
  width: 60%;
  margin: 0px auto;
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: white;
}
.user{
  margin-top: 15px !important;
  color: white;
}
